@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Inter', sans-serif;
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-primary: #0FA678;
  --color-secondary: #7B2CBF;
  --color-accent: #E65137;
  --color-dark: #0F2550;
  --color-muted: #3A5169;
  --color-background-app: #F1F5F9;
  --color-card: #FFFFFF;
  --color-border: #E2E8F0;
  --color-success: #12B886;
  --color-warning: #FFC857;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
